:root {
  --main-bg-color: #c5f8d0fd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--main-bg-color);
}

ul {
  list-style-type: none;
}

.game-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: calc(100vh - 200px);
  padding: 3% 10%;
}

.navbar {
  height: 50px;
  width: 100vw;
  background-color: #0d8379;
  padding: 5px 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-rules {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  height: 100%;
}

nav h1 {
  color: white;
}

li {
  border-radius: 15px;
  background-color: #ccffcc;
  padding: 7px;
  margin: auto 1%;
}

li:hover {
 cursor: pointer;
 background-color: #cec698;
}

li:active {
  background-color: #888;
  transform: scale(0.9);
}

img {
  width: 80%;
  height: auto;
  margin: 20px auto;
}

.description {
  width: 50vw;
  max-width: 600px;
  margin: 0 auto; 
}

.description h3,
.description h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

button {
  width: 10%;
  min-width: 80px;
  height: 10%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2 1;
  border-radius: 15px;
  background-color: #1997ff;
  border-color: transparent;
  color: #ccffcc;
  box-shadow: 0 5px #999;
}

button:hover {
  background-color: #9acbf3;
  color: rgb(102, 101, 101);
}

button:active {
  box-shadow: 0 2px #999;
  transform: translateY(4px);
}

button i {
  font-size: 2em;
}

button p {
  font-size: 2rem;
  margin-top: 5px;
}

button:disabled {
  background-color:rgb(102, 101, 101);
  color: #333;
}

.result-wrapper {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card-wrapper {
  width: 30%;
  position: relative;
  height: 100%;
  z-index: 0;
}

.move {
  border-radius: 15px;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 5px 5px #cccccccc;
}

.move h5 {
  justify-self: left;
}

.versus {
  font-family: 'Trade Winds', cursive;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
}

.winnershow {
  font-size: 2.5rem;
  height: 20%;
  justify-self:initial;
}

.versus-display {
  padding: 25% 0;
}

#player-move,
#computer-move {
  font-size: 5rem;
  align-self: center;
  text-align: center;
  padding: 10%;
  height: 80%;
  padding-top: 20%
}

.move i {
  font-size: 4rem;
  font-weight: 800;
}

.game-stats {
  position: fixed;
  top: 70px;
  right: 5%;
  height: 20vh;
  width: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
}

.score {
  width: 45%;
  height: 50%;
  border-radius: 10px;
}

.score p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.rating {
  position: absolute;
  width: 100%;
  height: 25px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.bar-wrapper {
  position: relative;
  width: 80%;
  height: 30px;
  margin: 0 auto;
}

.health-text {
  z-index: 3;
}

.score-text-dark {
  color: #333;
  z-index: 2;
  font-size: 2rem;
  font-weight: bold;
}

.health {
  z-index: 1;
  width: 50%;
  background-color: rgba(0, 209, 0, 0.623);
  border-radius: 10px 0px 0px 10px;
}

.bkhealth {
  background-color: #b90000af;
}

.rules-wrapper {
  top: 5%;
  margin: 20px auto;
  max-width: 600px;
  width: 75vw;
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-radius: 5px;
  z-index: 3;
  animation: 0.5s fadein ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


p {
  text-align: justify;
}

.close-window {
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: #a38b8b77;
  width:25px;
  height: 25px;
  border-radius:50%;
  font-size: 1.4rem;
}



.darkbkground {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  top:0;
  left:0;
}

.bkgroundtrue {
  position: absolute;
  background-color: #312e2e75;
  height: 100%;
  width: 100vw;
  top:0;
  left:0;
  z-index: 1;
}

@media only screen and (max-width: 840px) {
  .navbar h1 {
    font-size: 1.8rem;
  }

  .button-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 650px) {
  .navbar h1,
  .button-text {
    font-size: 1.2rem;
  }

  .show-rules {
    width: 50%;
    align-items: center;
   justify-content: flex-end;
  }

  .game-stats {
    position: relative;
    top: 0;
    right: 0;
    height: 15vh;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    margin: 0 auto;
  }

  .score {
    padding: 5px; 
  }

  .score p {
    font-size: 1.2rem;
  }

  .game-wrapper {
    padding: 5px 5px;
  }

  .description {
    width: 90vw;
  }

  .rating {
    height: 15px;
    margin: 0 auto;
  }

  .health {
    margin: 0 auto;
  }

  .bar-wrapper p {
    font-size: 1.0rem;
  }

  .card-wrapper {
    height: 150px;
  }

  .versus {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .navbar h1 {
    display: none;
  }

  .navbar ul {
    justify-content: space-around;
    width: 90%;
  }

  .display-text {
    display: none;
  }

  button {
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
  }

  .card-wrapper,
  .winnershow,
  .versus-display {
    font-size: 1.0rem;
  }

  #player-move,
  #computer-move {
    font-size: 2rem;
  }

  .move {
    height: 80px;
  }
  
}