* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    width: 10vw;
    min-width: 80px;
    height: 10vw;
    min-height: 80px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    
}

button i {
    font-size: 2em;
    
}