* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-width: 900px;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

button {
  width: 10vw;
  min-width: 80px;
  height: 10vw;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2 1;
}

button i {
  font-size: 2em;
}

.result-wrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

.move {
    border: 2px solid darkblue;
    border-radius: 15px;
    width: 30%;
    
}

.game-stats {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 20vh;
  width: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  text-align: center;
}

.score {
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
}

.rating {
  width: 100%;
  height: 20%;
  background-color: green;
  border: 1px solid black;
  border-radius: 20px;
}
