* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: #c5f8d0fd;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}

button {
  width: 10vw;
  min-width: 80px;
  height: 10vw;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2 1;
  border-radius: 15px;
  background-color: #1997ff;
  color: #ccffcc;
  box-shadow: 0 5px #999
}

button:hover {
  background-color: #9acbf3;
  color: rgb(102, 101, 101);
}

button:active {
  box-shadow: 0 2px #999;
  transform: translateY(4px);
}

button i {
  font-size: 2em;
}

button p {
  font-size: 2rem;
  margin-top: 5px;
}

.result-wrapper {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.move {
  border: 2px solid darkblue;
  border-radius: 15px;
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player-move,
#computer-move {
 text-align: center;
} 

.move p {
  font-size: 4rem;
  font-weight: 800;
}

.game-stats {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 20vh;
  width: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
}

.score {
  width: 45%;
  height: 50%;
  border-radius: 10px;
  text-align: center;
}

.rating {
  position: absolute;
  width: 100%;
  height: 20%;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}

.score p {
  font-size: 1.5rem;
  font-weight: bold;
}

.bar-wrapper{
  position: relative;
  width: 100%;
  height: 140px;
}

.health-text {
  z-index: 2;
}

.health {
  z-index: 1;
  width: 50%;  
  background-color: green;
}

.bkhealth {
  background-color: #dd0000;
}

